/*Simone Chinaglia*/

/*Loading Font*/
@font-face {
  font-family: FuturaStd-Bold;
  src: url('../font/FuturaStd-Bold.otf');
}
@font-face {
  font-family: FuturaStd-Book;
  src: url('../font/FuturaStd-Book.otf');
}
@font-face {
  font-family: FuturaStd-ExtraBold;
  src: url('../font/FuturaStd-ExtraBold.otf');
}
@font-face {
  font-family: Helvetica;
  src: url('../font/Helvetica.ttc');
}
@font-face {
  font-family: Museo-300;
  src: url('../font/Museo-300.otf');
}
@font-face {
  font-family: Museo-500;
  src: url('../font/Museo-500.otf');
}
@font-face {
  font-family: Museo-700;
  src: url('../font/Museo-700.otf');
}
@font-face {
  font-family: MinionPro-Regular;
  src: url('../font/MinionPro-Regular.otf');
}
@font-face {
  font-family: Museo-900;
  src: url('../font/Museo900-Regular.otf');
}


.top_header{
  min-height: 50px;
  padding-top: 15px;
  .edit_booking{
    font-family: "Museo-900", serif;
    font-size: 14px;
    text-transform: uppercase;
    i{
      background: #000;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      color: #fff;
      padding: 3px;
    }
  }
  .menu{
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900", serif;
    font-size: 12px;
    ul{
      display: inline;
      li{
        display: inline;
        padding: 0 15px;
        .flag{
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          width: 20px;
          height: 20px;
        }
        .pin_map {
          background: #000;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: #fff;
          padding: 4px 5px;
        }
        .cart {
          background: #000;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: #fff;
          padding: 4px;
        }
      }
    }
  }
}/* End of top_header*/
/*Start main_header*/
.main_header{
  background: url("../img/headerbso.jpg");
  background-size: cover;
  min-height: 405px;
  color: white;
  .logo_description{
    position: relative;
    min-height: 409px;
    .description{
      position: absolute;
      bottom: 21px;
      left: 0;
      padding-left: 15px;
    }
  img {
    padding:15px 0 0 0 ;
  }
  h1{
    color: #ffffff;
    font-family: "Museo-900", serif;
    font-size: 21px;
  }
  p{
    color: #ffffff;
    font-family: "Museo-500", serif;
    font-size: 16px;
    letter-spacing: -0.14px;
  }
  .btn-info{
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #ffff;
    border-radius: 50px;
    padding: 8px 20px;
    font-family: "FuturaStd-Book", serif;
    font-size: 9px;
    font-weight: 300;
    letter-spacing: 1.8px;
  }
  }
  .icons_booking {
    position: relative;
    height: 409px;
    .row{
      position: absolute;
      bottom: 12px;
      right: 0;
    }
    .single_icon{
      display: inline;
      background: #ffffff85;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      height: 92px;
      width: 100%;
      border: 5px solid #dadadabd;
      padding: 16px 12px;
      margin: 0 auto;
      text-align: center;
      margin-left: 13px;

        img{
          width: 57px;
          height: auto;
        }

    }
    .active{
      border: 5px solid #007eb6 !important;
    }
    }

}/*End main_header*/
/*Start Walker Menu*/
.walker_menu{
  height: 97px;
  padding: 0;
  h2{
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 36px;
    padding-top: 23px;
  }
  .pin_map{
    font-size: 30px;
    color: white;
    width: 42px;
    height: 41px;
    background-color: #007eb6;
    border-radius: 50%;
    padding: 6px 11px;
    margin-top: 12px;
  }
  .interessi{
    padding: 0px 0 0 17px;
  }
  p{
    text-transform: uppercase;
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    padding-top: 5px;
  }
  .menu{
    padding: 0;
  }
  ul{
    display: flex;
    padding-top: 24px;
    padding-left: 93px;
    li{
      display: inline;
      padding: 0 8px;
      span{
        color: #007eb6;
        font-family: "FuturaStd-ExtraBold";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.79px;
        display: block;
        text-transform: uppercase;
        text-align: center;
      }
      .btn-menu{
        background-color: #007eb6;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2.79px;
        text-transform: uppercase;
        width: 100%;
        padding: 6px 12px;
        border-radius: 40px;
      }
        .active{
          background-color: transparent !important;
          color: #007eb6;
          border: 1px solid #007eb6;

        }

    }
  }
}/*end of walker menu*/

.booking_form{
  .consumer{
    background: #2e3842ba;
    color: #fff;
    border-radius: 40px;
    border: 3px solid #6d6c6c;
    margin-top: 28px;
    text-align: center;
    label {
      color: #ffffff;
      font-family: "Museo-900";
      font-size: 17px;
      font-weight: bold;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-weight: 400;
      line-height: 1.5;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      color: #000000;
      font-family: "Museo-500";
      font-size: 20px;

    }
  }
  .aziende{
    padding-top: 20px;
    form{
      background: #a7a7a7;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      padding-top: 10px;
      .form-check-label{
        text-transform: uppercase;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 14px;
        font-weight: 300;
      }
      .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #dadada;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 40px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
      .btn-form{
        text-transform: uppercase;
        color: #000000;
        font-family: "FuturaStd-Book";
        font-size: 14px;
        font-weight: 300;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 5px 10px;;
      }
    }
  }


}
.voucher{
  background: url("../img/backgoundpage.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 37px;
  .h5, h5 {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900";
    font-size: 26px;
    span{
      color: red;
      display: block;
    }
  }
  .final_price{
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.54px;
  }
  span{
    color: #000000;
    font-family: "Museo-900";
    font-size: 21px;
  }
  .non_rimborsabile{
    color: #000000;
    font-family: "Museo-900";
    font-size: 21px;
  }
  .inclusive{
    text-transform: uppercase;
    display: block;
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 21px;
  }
  .required{
    text-transform: uppercase;
    display: block;
    color: red;
    font-family: "Museo-900";
    font-size: 21px;
  }
  .subtitle{
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 21px;
    font-weight: bold;
  }
  p, .p{
    color: #000000;
    font-family: "Museo-500";
    font-size: 21px;
  }
  .subititle_2, .coordinate_bancarie{
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900";
    font-size: 21px;
  }
  ul{
    list-style: none;
    padding-left: 0px;
    span{
      color: #000000;
      font-family: "Museo-900";
      font-size: 21px;
      font-weight: bold;
    }
    li{
      color: #000000;
      font-family: "Museo-500";
      font-size: 21px;
      font-weight: bold;
    }
  }
  .logo_description{
    .btn{
      text-transform: uppercase;
      color: #ffffff;
      font-family: "FuturaStd-Book";
      font-size: 34px;
      font-weight: 300;
      margin-bottom: 30px;
    }
    img{
      width: 493px;
      height: 268px;
      margin-top: 105px;
      margin-bottom: 40px;
    }
  }
  .btn{
    border: 2px solid #ffffff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 6.69px;
  }
  .btn-red-trasparent{
    background-color: transparent;
    border:2px solid red !important;
    color: red !important;
  }
  .btn-blue{
    background-color: #007eb6 !important;
    border:2px solid #007eb6 !important;
  }
  .inner{
    border: 4px solid #0174a9;
    background: #e7e8eb;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 25px;
  }
  .address{
    margin-top: 45px;
    h4, .h4{
      text-transform: uppercase;
      /* Text style for "A" */
      color: #ffffff;
      font-family: "Museo-900";
      font-size: 26px;
    }
    p{
      color: #ffffff;
      font-family: "Museo-500";
      font-size: 22px;
    }
    .interessi{
      i{
        font-size: 60px;
        background: white;
        border-radius: 50%;
        padding: 10px 20px;

      }
      p{
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Museo-900";
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }


}
/*start inner page*/
.inner_page{
  background: url("../img/backgoundpage.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
/*Start of booking_confirmation*/
  .booking_confirmation{
    .h2, h2{
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Museo-900";
      font-size: 68px;
      margin-bottom: 40px;
      span{
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Museo-900";
        font-size: 34px;
      }
    }
    p{
      color: #ffffff;
      font-family: "Museo-500";
      font-size: 32px;
      padding-bottom: 20px;
    }
    .email_send{
      background-color: #007eb6;
      text-align: center;
      padding: 30px;
      border-radius: 40px;
      margin-bottom: 30px;
      p{
        text-transform: uppercase;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 24px;

        padding-bottom: 0;
        span{
          text-transform: uppercase;
          color: #ffffff;
          font-family: "FuturaStd-Book";
          font-size: 26px;
          display: block;
        }
      }

    }
  }
  /*desideri_altro*/
  .desideri_altro{
    border: 4px solid red;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 15px 15px;
    margin-left: 15px;
    background: #ffffff87;
    h2, .h2{
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 32px;
      text-align: center;
      margin-top: 0;
      span{
        text-transform: uppercase;
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 32px;
        text-align: center;
        margin-top: 0;
        display: block;
      }
    }
    p{
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 22px;
      padding: 20px;
      text-align: center;
    }
    .icona{
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 27px;
      display: block;
      text-align: center;
      img{
        border: 5px solid #9c9c9c;
        background: white;
        border-radius: 50%;
        padding: 20px;
        box-shadow: inset 1px 1px 6px 3px #444444a1;
        width:100px;
      }

    }
    .active{
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 27px;

    }

  }
  /*other_services*/
  .other_services{
    margin: 35px 0;
    background: #fff;
    border-radius: 40px;
    padding: 25px 10px 0 10px;
    height: 100%;
    .single_service{
      margin-bottom: 25px;
      .h4, h4{
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 15px;
        font-weight: bold;
        span{
          display: block;
        }
      }
      p{
        color: #000000;
        font-family: "Museo-500";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.11px;
        .required{
          text-transform: uppercase;
          color: #e5215e;
          font-family: "FuturaStd-Book";
          font-size: 12px;
          display: block;
        }
      }
      .btn{
        width: 101px;
        height: 20px;
        border: 1px solid #000000;
        text-transform: uppercase;
        font-family: "FuturaStd-Book";
        font-size: 9px;
        font-weight: 300;
        letter-spacing: 1.8px;
        line-height: 9px;
        border-radius: 40px;
      }
      form{
        .form-group {
          margin-bottom: 0;
        }
        .price {
          color: #000000;
          font-family: "Museo-500";
          font-size: 12px;
          font-weight: bold;
        }
        .form-control{
          color: #000000;
          font-family: "Museo-500";
          font-size: 14px;
          font-weight: bold;
          width: 40px;
          background: #e4e4e4;
          border: #e4e4e4;
          height: 27px;
        }
        .day {
          color: #000000;
          font-family: "Museo-300";
          font-size: 10px;
          font-weight: 400;
          text-align: right;

        }
      }
    }
  }
  /*Start rooms*/
  .rooms{
    padding-top: 20px;
    margin-bottom: 35px;
    .room{
      background-color: #ffffff;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      height: 202px;
      padding-top: 15px;
      margin-top: 15px;
      .modal{
        .modal-header .close {
          padding: 2px 1rem;
          margin: -1rem -1rem -1rem auto;
        }
        .modal-content {
          position: relative;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 100%;
          pointer-events: auto;
          background-color: #ffffffdb;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.76);
          border-radius: 40px;
          outline: 0;
          padding: 20px;
        }
        .modal-title{
          text-transform: uppercase;
          color: #000000;
          font-family: "FuturaStd-Book";
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 3.18px;
        }
        .modal-body{
          color: #000000;
          font-family: "Museo-500";
          font-size: 16px;
          .icons{
            padding: 20px 0;
            .icon{
              text-align: center;
              img{
                width: auto;
                height: 37px;
                padding-bottom: 7px;
              }
              span{
                text-transform: uppercase;
                color: #000000;
                font-family: "FuturaStd-Book";
                font-size: 8px;
                font-weight: 300;
                display: block;
              }
            }
          }
        }

      }
      .gallery{
        .carousel-item img{
          border-radius: 30px;
          height: 174px;
        }
      }
      .infos{
        position: relative;
        height: 172px;
        h2, .h2{
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 18px;
          margin: 0;
          span{
            color: #000000;
            font-family: "Museo-500";
            font-size: 19px;
            font-weight: bold;
            letter-spacing: -0.17px;
          }
        }

        .last_deal{
          text-transform: uppercase;
          color: #e5215e;
          font-family: "Museo-900";
          font-size: 18px;
        }
        .btn{
          background-color: #007eb6;
          text-transform: uppercase;
          color: #ffffff;
          font-family: "FuturaStd-Book";
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 3.62px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          position: absolute;
          bottom: 0;
          display: block;
        }
        .allert{
          background-color: #e5215e;
          font-size: 14px;
          position: relative;
          display: block;
          margin-top: 13px;
          i{
            color: #fff;
          }
        }
      }
      .start_price{
        position: relative;
        height: 172px;
        h3, .h3{
          text-transform: uppercase;
          color: #007eb6;
          font-family: "Museo-900";
          font-size: 23px;
          .price{
            color: #8c99a1;
            font-family: "Museo-500";
            font-size: 41px;
            display: block;
            .currency{
              color: #8c99a1;
              font-family: "Museo-500";
              font-size: 41px;
            }
          }
        }
        .btn{
          background-color: #003872;
          text-transform: uppercase;
          color: #ffffff;
          font-family: "FuturaStd-Book";
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 3.62px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 86%;
        }
      }
    }
  }
  .booking_resume{
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 4px solid #007eb6;
    padding: 15px;
    background: #e6e7e9;
    margin-left: 33px;
    min-width: 341px;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 100%;

    .booking_price{
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 28px;
      font-weight: bold;
      letter-spacing: -0.78px;
      text-align: center;
      display: block;
      margin-top: -17px;
      .price, .currency{
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 28px;
      }
    }
    .booking_number{
      .booking{
        text-transform: uppercase;
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -0.16px;
      }
      .integer{
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 33px;
        text-align: right;
        line-height: 36px;
      }
    }
    h4, .h4{
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 25px;
      text-align: center;
      padding-bottom: 20px;
      span{
        font-family: "Museo-500", serif;
        font-size: 21px;
        display: block;
      }
    }
    .classy {
      text-transform: uppercase;
      color: #000000;
      font-family: "FuturaStd-Book";
      font-size: 9px;
      font-weight: 300;
      letter-spacing: 1.8px;
      border: 1px solid #000000;
      padding: 5px;
      border-radius: 30px;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      i{
        padding-right: 20px;
      }
    }

    .resume{
      .room_name{
        text-transform: uppercase;
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 16px;
        letter-spacing: -0.16px;
      }
      .room{
        .typology{
          color: #e5215e;
          font-family: "Museo-500";
          font-size: 16px;
          display: block;
        }
        .price, .currency{
          color: #000000;
          font-family: "Museo-500";
          font-size: 16px;
        }
        .deal{
          text-transform: uppercase;
          color: #000000;
          font-family: "Museo-900";
          font-size: 16px;
          display: block;
        }
        .saving{
          text-transform: uppercase;
          color: #000000;
          font-family: "Museo-900";
          font-size: 16px;
          display: block;
          padding-top: 17px;
        }
        .people{
          color: #000000;
          font-family: "Museo-500";
          font-size: 16px;
          font-weight: bold;
          letter-spacing: -0.14px;
          display: block;
        }
        .non_rimborsabile{
          text-transform: uppercase;
          color: #000000;
          font-family: "Museo-900";
          font-size: 16px;
          padding-bottom: 20px;
          display: block;
        }
        .classy {
          margin-top: 20px;
        }
      }
      .extra_name{
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.14px;
      }
      .extra{
        .typology{
          color: #000000;
          font-family: "Museo-900";
          font-size: 16px;
          font-weight: bold;
          letter-spacing: -0.3px;
          display: block;
        }
        .inclusive{
          text-transform: uppercase;
          color: #007eb6;
          font-family: "Museo-900";
          font-size: 16px;
          display: block;
        }
        .price{
          color: #000000;
          font-family: "Museo-500";
          font-size: 16px;
          display: block;
        }
        .required{
          text-transform: uppercase;
          color: #e5215e;
          font-family: "Museo-900";
          font-size: 16px;
          display: block;
        }

      }
      .final_price{
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 16px;
        letter-spacing: -0.14px;
      }
      .price .price{
        color: #000000;
        font-family: "Museo-900";
        font-size: 16px;
        letter-spacing: -0.14px;
        padding-bottom: 3px;
        display: block;
      }
    }
    .checkin, .checkout{
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
    }
   .date{
    color: #000000;
    font-family: "Museo-500";
    font-size: 16px;
     padding-left: 30px;
     ul{
       list-style: none;
       padding-left: 0;
     }
  }
    .btn{
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      text-transform: uppercase;
      color: #000000;
      font-family: "FuturaStd-Book";
      font-size: 18px;
      font-weight: 300;
      border: 1px solid #000000;
    }
.arrowSeperator{
  display: block;
  text-align: center;
  border: 1px solid #989898;
  margin-top: -19px;
  box-shadow: 1px -2px 5px 2px #44444482;
}
    .second_room{
      background: #f5f6f8;
      margin: -1px -15px -15px -15px;
      padding: 25px 15px;
      border-radius: 0 0 40px 40px;
    }
    .totals{
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 24px;
    }
    .totals_price{
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 24px;
      letter-spacing: -0.34px;
    }
    .go_to_cart{
      text-transform: uppercase;
      color: #ffffff;
      font-family: "FuturaStd-Book";
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 3.7px;
      background-color: #007eb6;
      border-radius: 40px;
      padding: 10px;
      text-align: center;
      margin-top: 15px;
    }
  }
  .h2, h2 {
    color: #ffffff;
    font-family: "Museo-900";
    font-size: 28px;
    margin-top: 31px;
    margin-bottom: -21px;
    span{
      display: block;
      color: #ffffff;
      font-family: "Museo-300";
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 1.12px;
    }
  }
  .promozioni{
    padding: 50px 0;
    .promozione{
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      padding: 35px;
      height: 672px;
      background-color: #ffffff;
      margin-right: 20px;
      max-width: 30%;
      img{
        position: absolute;
        bottom: -21px;
        right: 0;
        width: 100%;
        border-radius: 0 0 40px 40px;
      }
      .h4, h4{
        text-transform: uppercase;
        color: #003872;
        font-family: "Museo-900";
        font-size: 51px;
        span{
          display: block;
        }
      }
      p, .p{
        text-transform: uppercase;
        color: #003872;
        font-family: "Museo-900";
        font-size: 22px;
        span{
          display: block;
          text-transform: uppercase;
          color: #003872;
          font-family: "Museo-300";
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.9px;
        }
      }
      .price, .currency{
        color: #003872;
        font-family: "Museo-900";
        font-size: 51px;
      }
      .button_info{
        border: 1px solid #003872;
        text-transform: uppercase;
        color: #003872;
        font-family: "FuturaStd-Book";
        font-size: 9px;
        font-weight: 300;
        display: block;
        width: 107px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 5px 20px;
      }
    }
      .quote{
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 35px;
        height: 1267px;
        background-color: #003872;
        border: 8px solid #ffffff;
        img{
          display: block;
        }
        .background{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          border-radius: 0 0 31px 31px;
        }
        .logo{
          padding-top: 200px;
        }
        .h4, h4{
          color: #fff;
          font-family: "Museo-900";
          font-size: 44px;
          padding: 20px 0;
          span{
            display: block;
            color: #ffffff;
            font-family: "Museo-300";
            font-size: 22px;
            font-weight: 400;
          }
      }


      .price, .currency{
        color: #003872;
        font-family: "Museo-900";
        font-size: 51px;
      }
      .button_info{
        border: 1px solid #003872;
        text-transform: uppercase;
        color: #003872;
        font-family: "FuturaStd-Book";
        font-size: 9px;
        font-weight: 300;
        display: block;
        width: 107px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 5px 20px;
      }
    }
  }
}
/*end inner page*/
/*start of the cart*/
.cart{
  padding: 37px 0;
  .single_room{
    padding-left: 0;
    .info{
      .carousel {
        img{
          border-radius: 40px;
        }
      }
      .modal{
        .modal-header .close {
          padding: 2px 1rem;
          margin: -1rem -1rem -1rem auto;
        }
        .modal-content {
          position: relative;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 100%;
          pointer-events: auto;
          background-color: #ffffffdb;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.76);
          border-radius: 40px;
          outline: 0;
          padding: 20px;
        }
        .modal-title{
          text-transform: uppercase;
          color: #000000;
          font-family: "FuturaStd-Book";
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 3.18px;
        }
        .modal-body{
          color: #000000;
          font-family: "Museo-500";
          font-size: 16px;
          .details{
            text-transform: uppercase;
            color: #000000;
            font-family: "Museo-900";
            font-size: 16px;
            font-weight: bold;
            display: block;
          }
          .offers{
            text-transform: uppercase;
            color: #000000;
            font-family: "FuturaStd-Book";
            font-size: 16px;
            padding: 20px 0;
            display: block;
          }
          p{
            color: #000000;
            font-family: "Museo-500";
            font-size: 16px;
            letter-spacing: -0.14px;
          }
          .icons{
            padding: 20px 0;
            .icon{
              text-align: center;
              img{
                width: auto;
                height: 37px;
                padding-bottom: 7px;
              }
              span{
                text-transform: uppercase;
                color: #000000;
                font-family: "FuturaStd-Book";
                font-size: 8px;
                font-weight: 300;
                display: block;
              }
            }
          }
        }
      }
      h4, .h4{
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 26px;
        padding-bottom: 20px;
      }
      h2, .h2{
        text-transform: uppercase;
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 44px;
        span{
          display: block;
        }
      }
      .btn{
        text-transform: uppercase;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 3.7px;
        background-color: #007eb6;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 10px;
        margin: 20px 0;
        height: 34px;
        line-height: 14px;
      }
      .price{
        .title{
          text-transform: uppercase;
          color: #007eb6;
          font-family: "Museo-900";
          font-size: 30px;
        }
        .final_price{
          color: #007eb6;
          font-family: "Museo-900";
          font-size: 30px;
          text-align: right;
        }
      }
      .saving{
        .title{
          text-transform: uppercase;
          color: #007eb6;
          font-family: "Museo-300";
          font-size: 20px;
          font-weight: 400;
        }
        .final_price{
          color: #007eb6;
          font-family: "Museo-300";
          font-size: 20px;
          font-weight: 400;
          text-align: right;
        }

      }
      hr{
        border-top: 2px solid #007eb6;
      }
    }
  }
  .billing{
    .checkin, .checkout{
      color: #000000;
      font-family: "Museo-900";
      font-size: 22px;
      .date{
        color: #000000;
        font-family: "Museo-500";
        font-size: 22px;
      }
    }
    .room_details{
      .room_name{
        text-transform: uppercase;
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 22px;
      }
      .room{
        .typology{
          text-transform: uppercase;
          color: #e5215e;
          font-family: "Museo-900";
          font-size: 20px;
          font-weight: bold;
          letter-spacing: -0.22px;
        }
        .price{
          color: #000000;
          font-family: "Museo-500";
          font-size: 20px;
          font-weight: bold;
          display: block;
        }
        .deal{
          text-transform: uppercase;
          color: #000000;
          font-family: "Museo-900";
          font-size: 20px;
          display: block;
        }
        .saving{
          text-transform: uppercase;
          color: #000000;
          font-family: "Museo-900";
          font-size: 20px;
          font-weight: bold;
          letter-spacing: -0.22px;
          display: block;
          padding-top: 20px;
        }
        .people{
          color: #000000;
          font-family: "Museo-500";
          font-size: 20px;
          font-weight: bold;
          letter-spacing: -0.22px;
          display: block;
        }

      }

    }
    .extra{
      .extra_name{
        color: #000000;
        font-family: "Museo-900";
        font-size: 22px;
      }
      .extra{
        .typology{
          color: #000000;
          font-family: "Museo-900";
          font-size: 16px;
          font-weight: bold;
          letter-spacing: -0.3px;
          display: block;
        }
        .inclusive{
          text-transform: uppercase;
          color: #007eb6;
          font-family: "Museo-900";
          font-size: 15px;
          display: block;
        }
        .price{
          color: #000000;
          font-family: "Museo-500";
          font-size: 16px;
          display: block;
        }
        .required{
          text-transform: uppercase;
          color: #e5215e;
          font-family: "Museo-900";
          font-size: 16px;
          display: block;
        }
      }
    }
    .classy{
      text-transform: uppercase;
      color: #000000;
      font-family: "FuturaStd-Book";
      font-size: 15px;
      font-weight: 300;
      border-radius: 40px;
      padding: 10px;
      border: 2px solid #000000;
      height: 33px;
      text-align: center;
      line-height: 14px;
    }
    .non_rimborsabile{
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 22px;
      padding-top: 20px;
      display: block;
    }
  }
  .complete_holiday{
    .final_booking{
      background-color: #e5215e;
      padding: 5px 21px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "FuturaStd-Book";
      font-size: 33px;
      font-weight: 300;
      letter-spacing: 6.52px;
      text-align: center;
      display: block;
      margin-top: 20px;
    }
.add_rooms{
  border: 1px solid #000000;
  text-transform: uppercase;
  color: #000000;
  font-family: "FuturaStd-Book";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.15px;
  padding: 5px 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin-top: 20px;
}
    .form-check {
      position: relative;
      display: block;
      padding-left: 30px;
      padding-top: 14px;
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-500";
      font-size: 11px;
      font-weight: bold;
    }
    hr {
      border-top: 1px solid red;
    }
    .total{
      position: relative;
      margin-bottom: 20px;

      .row{
      }
      .totals{
        text-transform: uppercase;
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.43px;
      }
      .price{
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.1px;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .saving{
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-300";
      font-size: 20px;
      font-weight: 400;
    }
    .saving_price{
      color: #e5215e;
      font-family: "Museo-300";
      font-size: 20px;
      font-weight: 400;
      text-align: right;
    }

    .box{
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      border: 4px solid red;
      padding: 30px;
      .h2, h2{
        text-transform: uppercase;
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 36px;
        text-align: center;
        text-shadow: 0px 5px 6px #69602896;
        margin-bottom: 20px;
      }
      .active{
        img{
          border: 5px solid red !important;
          width:100px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          padding: 10px;

        }
        span{
          text-transform: uppercase;
          color: #e5215e !important;
          font-family: "Museo-900";
          font-size: 27px;
        }
      }
      .icona{
        text-align: center;
        margin-bottom: 20px;

        img{
          border: 5px solid #c6ccd0;
          width:100px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          padding: 10px;
          box-shadow: inset 0px 1px 5px 5px #44444454;
        }
        span{
          display: block;
          text-transform: uppercase;
          color: #000;
          font-family: "Museo-900";
          font-size: 27px;
        }
      }

    }
  }
}
/*end of the cart*/


/*footer*/
footer{
  background: url("../img/footerbso.jpg");
  background-size: cover;
  padding: 13px 0;
  p{
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2.6px;
  }
}

/*Second layout*/







/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  .top_header .edit_booking {
    font-family: "Museo-900", serif;
    font-size: 11px;
    text-transform: uppercase;
  }
  .walker_menu ul {
  }
  .top_header .menu {
    display: none;
  }
  .inner_page .promozioni .promozione {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .main_header .icons_booking {
    position: relative;
    height: 200px;
  }
  .main_header .icons_booking .single_icon img {
    width: 28px;
    height: auto;
  }
  .main_header .icons_booking .single_icon {
    display: inline;
    background: #ffffff85;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    width: 100%;
    border: 3px solid #dadadabd;
    padding: 8px 10px;
    margin: 0 auto;
    text-align: center;
    margin-right: 8px;
  }
  .walker_menu {
    height: 66px;
    padding: 0;
    text-align: center;
  }
  .walker_menu .menu {
    padding: 0;
    display: none;
  }
  .main_header .logo_description .description {
    position: absolute;
    bottom: 21px;
    left: 0;
    padding-left: 15px;
  }
  .main_header .icons_booking {
    position: relative;
    height: 76px;
    margin: 0 auto;
    text-align: center;
  }
  .walker_menu h2 {
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 31px;
    padding-top: 13px;

  }
  .walker_menu .interessi {
    display: none;
  }
  .booking_form .aziende form {
    background: #a7a7a7;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding-top: 10px;
    padding: 20px !important;
  }
  .booking_form .aziende form .form-check-label {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    font-size: 13px;
    font-weight: 300;
  }
/*End of style*/
}



/*mixins helper*/
a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}
.btn-gray{
  background-color: #8c99a1;
  border: 1px solid  #8c99a1 !important;
  color: #ffffff !important;
}
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.delete{
  position: absolute;
  left: 0;
  color: red;
}

.arrowSeperator {
  display: block;
  text-align: center;
  border: 1px solid #ddd;
  height: 0;
  position: relative;
  margin: 0 -15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.arrowSeperator:before{
  content:'';
  width: 0;
  height: 0;
  border-left: 15px solid transparent; // this is the length of the side of the arrow
  border-right: 15px solid transparent; // this is the length of the side of the arrow
  border-bottom: 15px solid #ddd; // set to same color as the line, this is the height of the arrow
  position: absolute;
  bottom: 100%;
  left: 50%; // used to center arrow
  right: 50%; // used to center arrow
  margin: 0 -15px; // left & right offset need to match the width of the arrow to center arrow
  z-index:1;
}

// this arrow lays over the other arrow
// offset slightly to show a line
.arrowSeperator:after{
  content:'';
  width: 0;
  height: 0;
  border-left: 15px solid transparent; // this is the length of the side of the arrow
  border-right: 15px solid transparent; // this is the length of the side of the arrow
  border-bottom: 15px solid #fff; // set to color of background, this is the height of the arrow
  position: absolute;
  bottom: 100%;
  left: 50%; // used to center arrow
  right: 50%; // used to center arrow
  margin: 0 -15px -2px -15px;	// left & right offset need to match the width of the arrow to center arrow
  z-index: 2;
}