/*Simone Chinaglia*/
/*Loading Font*/
@font-face {
  font-family: FuturaStd-Bold;
  src: url("../font/FuturaStd-Bold.otf"); }
@font-face {
  font-family: FuturaStd-Book;
  src: url("../font/FuturaStd-Book.otf"); }
@font-face {
  font-family: FuturaStd-ExtraBold;
  src: url("../font/FuturaStd-ExtraBold.otf"); }
@font-face {
  font-family: Helvetica;
  src: url("../font/Helvetica.ttc"); }
@font-face {
  font-family: Museo-300;
  src: url("../font/Museo-300.otf"); }
@font-face {
  font-family: Museo-500;
  src: url("../font/Museo-500.otf"); }
@font-face {
  font-family: Museo-700;
  src: url("../font/Museo-700.otf"); }
@font-face {
  font-family: MinionPro-Regular;
  src: url("../font/MinionPro-Regular.otf"); }
@font-face {
  font-family: Museo-900;
  src: url("../font/Museo900-Regular.otf"); }
.top_header {
  min-height: 50px;
  padding-top: 15px; }
  .top_header .edit_booking {
    font-family: "Museo-900", serif;
    font-size: 14px;
    text-transform: uppercase; }
    .top_header .edit_booking i {
      background: #000;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      color: #fff;
      padding: 3px; }
  .top_header .menu {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900", serif;
    font-size: 12px; }
    .top_header .menu ul {
      display: inline; }
      .top_header .menu ul li {
        display: inline;
        padding: 0 15px; }
        .top_header .menu ul li .flag {
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          width: 20px;
          height: 20px; }
        .top_header .menu ul li .pin_map {
          background: #000;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: #fff;
          padding: 4px 5px; }
        .top_header .menu ul li .cart {
          background: #000;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: #fff;
          padding: 4px; }

/* End of top_header*/
/*Start main_header*/
.main_header {
  background: url("../img/headerbso.jpg");
  background-size: cover;
  min-height: 405px;
  color: white; }
  .main_header .logo_description {
    position: relative;
    min-height: 409px; }
    .main_header .logo_description .description {
      position: absolute;
      bottom: 21px;
      left: 0;
      padding-left: 15px; }
    .main_header .logo_description img {
      padding: 15px 0 0 0; }
    .main_header .logo_description h1 {
      color: #ffffff;
      font-family: "Museo-900", serif;
      font-size: 21px; }
    .main_header .logo_description p {
      color: #ffffff;
      font-family: "Museo-500", serif;
      font-size: 16px;
      letter-spacing: -0.14px; }
    .main_header .logo_description .btn-info {
      background: transparent;
      text-transform: uppercase;
      border: 1px solid #ffff;
      border-radius: 50px;
      padding: 8px 20px;
      font-family: "FuturaStd-Book", serif;
      font-size: 9px;
      font-weight: 300;
      letter-spacing: 1.8px; }
  .main_header .icons_booking {
    position: relative;
    height: 409px; }
    .main_header .icons_booking .row {
      position: absolute;
      bottom: 12px;
      right: 0; }
    .main_header .icons_booking .single_icon {
      display: inline;
      background: #ffffff85;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      height: 92px;
      width: 100%;
      border: 5px solid #dadadabd;
      padding: 16px 12px;
      margin: 0 auto;
      text-align: center;
      margin-left: 13px; }
      .main_header .icons_booking .single_icon img {
        width: 57px;
        height: auto; }
    .main_header .icons_booking .active {
      border: 5px solid #007eb6 !important; }

/*End main_header*/
/*Start Walker Menu*/
.walker_menu {
  height: 97px;
  padding: 0; }
  .walker_menu h2 {
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 36px;
    padding-top: 23px; }
  .walker_menu .pin_map {
    font-size: 30px;
    color: white;
    width: 42px;
    height: 41px;
    background-color: #007eb6;
    border-radius: 50%;
    padding: 6px 11px;
    margin-top: 12px; }
  .walker_menu .interessi {
    padding: 0px 0 0 17px; }
  .walker_menu p {
    text-transform: uppercase;
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    padding-top: 5px; }
  .walker_menu .menu {
    padding: 0; }
  .walker_menu ul {
    display: flex;
    padding-top: 24px;
    padding-left: 93px; }
    .walker_menu ul li {
      display: inline;
      padding: 0 8px; }
      .walker_menu ul li span {
        color: #007eb6;
        font-family: "FuturaStd-ExtraBold";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.79px;
        display: block;
        text-transform: uppercase;
        text-align: center; }
      .walker_menu ul li .btn-menu {
        background-color: #007eb6;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2.79px;
        text-transform: uppercase;
        width: 100%;
        padding: 6px 12px;
        border-radius: 40px; }
      .walker_menu ul li .active {
        background-color: transparent !important;
        color: #007eb6;
        border: 1px solid #007eb6; }

/*end of walker menu*/
.booking_form .consumer {
  background: #2e3842ba;
  color: #fff;
  border-radius: 40px;
  border: 3px solid #6d6c6c;
  margin-top: 28px;
  text-align: center; }
  .booking_form .consumer label {
    color: #ffffff;
    font-family: "Museo-900";
    font-size: 17px;
    font-weight: bold; }
  .booking_form .consumer .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000000;
    font-family: "Museo-500";
    font-size: 20px; }
.booking_form .aziende {
  padding-top: 20px; }
  .booking_form .aziende form {
    background: #a7a7a7;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding-top: 10px; }
    .booking_form .aziende form .form-check-label {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "FuturaStd-Book";
      font-size: 14px;
      font-weight: 300; }
    .booking_form .aziende form .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #dadada;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 40px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    .booking_form .aziende form .btn-form {
      text-transform: uppercase;
      color: #000000;
      font-family: "FuturaStd-Book";
      font-size: 14px;
      font-weight: 300;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      padding: 5px 10px; }

.voucher {
  background: url("../img/backgoundpage.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 37px; }
  .voucher .h5, .voucher h5 {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900";
    font-size: 26px; }
    .voucher .h5 span, .voucher h5 span {
      color: red;
      display: block; }
  .voucher .final_price {
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.54px; }
  .voucher span {
    color: #000000;
    font-family: "Museo-900";
    font-size: 21px; }
  .voucher .non_rimborsabile {
    color: #000000;
    font-family: "Museo-900";
    font-size: 21px; }
  .voucher .inclusive {
    text-transform: uppercase;
    display: block;
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 21px; }
  .voucher .required {
    text-transform: uppercase;
    display: block;
    color: red;
    font-family: "Museo-900";
    font-size: 21px; }
  .voucher .subtitle {
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 21px;
    font-weight: bold; }
  .voucher p, .voucher .p {
    color: #000000;
    font-family: "Museo-500";
    font-size: 21px; }
  .voucher .subititle_2, .voucher .coordinate_bancarie {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900";
    font-size: 21px; }
  .voucher ul {
    list-style: none;
    padding-left: 0px; }
    .voucher ul span {
      color: #000000;
      font-family: "Museo-900";
      font-size: 21px;
      font-weight: bold; }
    .voucher ul li {
      color: #000000;
      font-family: "Museo-500";
      font-size: 21px;
      font-weight: bold; }
  .voucher .logo_description .btn {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 30px; }
  .voucher .logo_description img {
    width: 493px;
    height: 268px;
    margin-top: 105px;
    margin-bottom: 40px; }
  .voucher .btn {
    border: 2px solid #ffffff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 6.69px; }
  .voucher .btn-red-trasparent {
    background-color: transparent;
    border: 2px solid red !important;
    color: red !important; }
  .voucher .btn-blue {
    background-color: #007eb6 !important;
    border: 2px solid #007eb6 !important; }
  .voucher .inner {
    border: 4px solid #0174a9;
    background: #e7e8eb;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 25px; }
  .voucher .address {
    margin-top: 45px; }
    .voucher .address h4, .voucher .address .h4 {
      text-transform: uppercase;
      /* Text style for "A" */
      color: #ffffff;
      font-family: "Museo-900";
      font-size: 26px; }
    .voucher .address p {
      color: #ffffff;
      font-family: "Museo-500";
      font-size: 22px; }
    .voucher .address .interessi i {
      font-size: 60px;
      background: white;
      border-radius: 50%;
      padding: 10px 20px; }
    .voucher .address .interessi p {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Museo-900";
      font-size: 16px;
      margin-top: 10px; }

/*start inner page*/
.inner_page {
  background: url("../img/backgoundpage.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /*Start of booking_confirmation*/
  /*desideri_altro*/
  /*other_services*/
  /*Start rooms*/ }
  .inner_page .booking_confirmation .h2, .inner_page .booking_confirmation h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Museo-900";
    font-size: 68px;
    margin-bottom: 40px; }
    .inner_page .booking_confirmation .h2 span, .inner_page .booking_confirmation h2 span {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Museo-900";
      font-size: 34px; }
  .inner_page .booking_confirmation p {
    color: #ffffff;
    font-family: "Museo-500";
    font-size: 32px;
    padding-bottom: 20px; }
  .inner_page .booking_confirmation .email_send {
    background-color: #007eb6;
    text-align: center;
    padding: 30px;
    border-radius: 40px;
    margin-bottom: 30px; }
    .inner_page .booking_confirmation .email_send p {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "FuturaStd-Book";
      font-size: 24px;
      padding-bottom: 0; }
      .inner_page .booking_confirmation .email_send p span {
        text-transform: uppercase;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 26px;
        display: block; }
  .inner_page .desideri_altro {
    border: 4px solid red;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 15px 15px;
    margin-left: 15px;
    background: #ffffff87; }
    .inner_page .desideri_altro h2, .inner_page .desideri_altro .h2 {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 32px;
      text-align: center;
      margin-top: 0; }
      .inner_page .desideri_altro h2 span, .inner_page .desideri_altro .h2 span {
        text-transform: uppercase;
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 32px;
        text-align: center;
        margin-top: 0;
        display: block; }
    .inner_page .desideri_altro p {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 22px;
      padding: 20px;
      text-align: center; }
    .inner_page .desideri_altro .icona {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 27px;
      display: block;
      text-align: center; }
      .inner_page .desideri_altro .icona img {
        border: 5px solid #9c9c9c;
        background: white;
        border-radius: 50%;
        padding: 20px;
        box-shadow: inset 1px 1px 6px 3px #444444a1;
        width: 100px; }
    .inner_page .desideri_altro .active {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 27px; }
  .inner_page .other_services {
    margin: 35px 0;
    background: #fff;
    border-radius: 40px;
    padding: 25px 10px 0 10px;
    height: 100%; }
    .inner_page .other_services .single_service {
      margin-bottom: 25px; }
      .inner_page .other_services .single_service .h4, .inner_page .other_services .single_service h4 {
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 15px;
        font-weight: bold; }
        .inner_page .other_services .single_service .h4 span, .inner_page .other_services .single_service h4 span {
          display: block; }
      .inner_page .other_services .single_service p {
        color: #000000;
        font-family: "Museo-500";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.11px; }
        .inner_page .other_services .single_service p .required {
          text-transform: uppercase;
          color: #e5215e;
          font-family: "FuturaStd-Book";
          font-size: 12px;
          display: block; }
      .inner_page .other_services .single_service .btn {
        width: 101px;
        height: 20px;
        border: 1px solid #000000;
        text-transform: uppercase;
        font-family: "FuturaStd-Book";
        font-size: 9px;
        font-weight: 300;
        letter-spacing: 1.8px;
        line-height: 9px;
        border-radius: 40px; }
      .inner_page .other_services .single_service form .form-group {
        margin-bottom: 0; }
      .inner_page .other_services .single_service form .price {
        color: #000000;
        font-family: "Museo-500";
        font-size: 12px;
        font-weight: bold; }
      .inner_page .other_services .single_service form .form-control {
        color: #000000;
        font-family: "Museo-500";
        font-size: 14px;
        font-weight: bold;
        width: 40px;
        background: #e4e4e4;
        border: #e4e4e4;
        height: 27px; }
      .inner_page .other_services .single_service form .day {
        color: #000000;
        font-family: "Museo-300";
        font-size: 10px;
        font-weight: 400;
        text-align: right; }
  .inner_page .rooms {
    padding-top: 20px;
    margin-bottom: 35px; }
    .inner_page .rooms .room {
      background-color: #ffffff;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      height: 202px;
      padding-top: 15px;
      margin-top: 15px; }
      .inner_page .rooms .room .modal .modal-header .close {
        padding: 2px 1rem;
        margin: -1rem -1rem -1rem auto; }
      .inner_page .rooms .room .modal .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #ffffffdb;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.76);
        border-radius: 40px;
        outline: 0;
        padding: 20px; }
      .inner_page .rooms .room .modal .modal-title {
        text-transform: uppercase;
        color: #000000;
        font-family: "FuturaStd-Book";
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3.18px; }
      .inner_page .rooms .room .modal .modal-body {
        color: #000000;
        font-family: "Museo-500";
        font-size: 16px; }
        .inner_page .rooms .room .modal .modal-body .icons {
          padding: 20px 0; }
          .inner_page .rooms .room .modal .modal-body .icons .icon {
            text-align: center; }
            .inner_page .rooms .room .modal .modal-body .icons .icon img {
              width: auto;
              height: 37px;
              padding-bottom: 7px; }
            .inner_page .rooms .room .modal .modal-body .icons .icon span {
              text-transform: uppercase;
              color: #000000;
              font-family: "FuturaStd-Book";
              font-size: 8px;
              font-weight: 300;
              display: block; }
      .inner_page .rooms .room .gallery .carousel-item img {
        border-radius: 30px;
        height: 174px; }
      .inner_page .rooms .room .infos {
        position: relative;
        height: 172px; }
        .inner_page .rooms .room .infos h2, .inner_page .rooms .room .infos .h2 {
          text-transform: uppercase;
          color: #000000;
          font-family: "Museo-900";
          font-size: 18px;
          margin: 0; }
          .inner_page .rooms .room .infos h2 span, .inner_page .rooms .room .infos .h2 span {
            color: #000000;
            font-family: "Museo-500";
            font-size: 19px;
            font-weight: bold;
            letter-spacing: -0.17px; }
        .inner_page .rooms .room .infos .last_deal {
          text-transform: uppercase;
          color: #e5215e;
          font-family: "Museo-900";
          font-size: 18px; }
        .inner_page .rooms .room .infos .btn {
          background-color: #007eb6;
          text-transform: uppercase;
          color: #ffffff;
          font-family: "FuturaStd-Book";
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 3.62px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          position: absolute;
          bottom: 0;
          display: block; }
        .inner_page .rooms .room .infos .allert {
          background-color: #e5215e;
          font-size: 14px;
          position: relative;
          display: block;
          margin-top: 13px; }
          .inner_page .rooms .room .infos .allert i {
            color: #fff; }
      .inner_page .rooms .room .start_price {
        position: relative;
        height: 172px; }
        .inner_page .rooms .room .start_price h3, .inner_page .rooms .room .start_price .h3 {
          text-transform: uppercase;
          color: #007eb6;
          font-family: "Museo-900";
          font-size: 23px; }
          .inner_page .rooms .room .start_price h3 .price, .inner_page .rooms .room .start_price .h3 .price {
            color: #8c99a1;
            font-family: "Museo-500";
            font-size: 41px;
            display: block; }
            .inner_page .rooms .room .start_price h3 .price .currency, .inner_page .rooms .room .start_price .h3 .price .currency {
              color: #8c99a1;
              font-family: "Museo-500";
              font-size: 41px; }
        .inner_page .rooms .room .start_price .btn {
          background-color: #003872;
          text-transform: uppercase;
          color: #ffffff;
          font-family: "FuturaStd-Book";
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 3.62px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 86%; }
  .inner_page .booking_resume {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 4px solid #007eb6;
    padding: 15px;
    background: #e6e7e9;
    margin-left: 33px;
    min-width: 341px;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 100%; }
    .inner_page .booking_resume .booking_price {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 28px;
      font-weight: bold;
      letter-spacing: -0.78px;
      text-align: center;
      display: block;
      margin-top: -17px; }
      .inner_page .booking_resume .booking_price .price, .inner_page .booking_resume .booking_price .currency {
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 28px; }
    .inner_page .booking_resume .booking_number .booking {
      text-transform: uppercase;
      color: #007eb6;
      font-family: "Museo-900";
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -0.16px; }
    .inner_page .booking_resume .booking_number .integer {
      color: #007eb6;
      font-family: "Museo-900";
      font-size: 33px;
      text-align: right;
      line-height: 36px; }
    .inner_page .booking_resume h4, .inner_page .booking_resume .h4 {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 25px;
      text-align: center;
      padding-bottom: 20px; }
      .inner_page .booking_resume h4 span, .inner_page .booking_resume .h4 span {
        font-family: "Museo-500", serif;
        font-size: 21px;
        display: block; }
    .inner_page .booking_resume .classy {
      text-transform: uppercase;
      color: #000000;
      font-family: "FuturaStd-Book";
      font-size: 9px;
      font-weight: 300;
      letter-spacing: 1.8px;
      border: 1px solid #000000;
      padding: 5px;
      border-radius: 30px;
      margin-bottom: 20px;
      width: 100%;
      text-align: center; }
      .inner_page .booking_resume .classy i {
        padding-right: 20px; }
    .inner_page .booking_resume .resume .room_name {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 16px;
      letter-spacing: -0.16px; }
    .inner_page .booking_resume .resume .room .typology {
      color: #e5215e;
      font-family: "Museo-500";
      font-size: 16px;
      display: block; }
    .inner_page .booking_resume .resume .room .price, .inner_page .booking_resume .resume .room .currency {
      color: #000000;
      font-family: "Museo-500";
      font-size: 16px; }
    .inner_page .booking_resume .resume .room .deal {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
      display: block; }
    .inner_page .booking_resume .resume .room .saving {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
      display: block;
      padding-top: 17px; }
    .inner_page .booking_resume .resume .room .people {
      color: #000000;
      font-family: "Museo-500";
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.14px;
      display: block; }
    .inner_page .booking_resume .resume .room .non_rimborsabile {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
      padding-bottom: 20px;
      display: block; }
    .inner_page .booking_resume .resume .room .classy {
      margin-top: 20px; }
    .inner_page .booking_resume .resume .extra_name {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.14px; }
    .inner_page .booking_resume .resume .extra .typology {
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.3px;
      display: block; }
    .inner_page .booking_resume .resume .extra .inclusive {
      text-transform: uppercase;
      color: #007eb6;
      font-family: "Museo-900";
      font-size: 16px;
      display: block; }
    .inner_page .booking_resume .resume .extra .price {
      color: #000000;
      font-family: "Museo-500";
      font-size: 16px;
      display: block; }
    .inner_page .booking_resume .resume .extra .required {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 16px;
      display: block; }
    .inner_page .booking_resume .resume .final_price {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
      letter-spacing: -0.14px; }
    .inner_page .booking_resume .resume .price .price {
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px;
      letter-spacing: -0.14px;
      padding-bottom: 3px;
      display: block; }
    .inner_page .booking_resume .checkin, .inner_page .booking_resume .checkout {
      color: #000000;
      font-family: "Museo-900";
      font-size: 16px; }
    .inner_page .booking_resume .date {
      color: #000000;
      font-family: "Museo-500";
      font-size: 16px;
      padding-left: 30px; }
      .inner_page .booking_resume .date ul {
        list-style: none;
        padding-left: 0; }
    .inner_page .booking_resume .btn {
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      text-transform: uppercase;
      color: #000000;
      font-family: "FuturaStd-Book";
      font-size: 18px;
      font-weight: 300;
      border: 1px solid #000000; }
    .inner_page .booking_resume .arrowSeperator {
      display: block;
      text-align: center;
      border: 1px solid #989898;
      margin-top: -19px;
      box-shadow: 1px -2px 5px 2px #44444482; }
    .inner_page .booking_resume .second_room {
      background: #f5f6f8;
      margin: -1px -15px -15px -15px;
      padding: 25px 15px;
      border-radius: 0 0 40px 40px; }
    .inner_page .booking_resume .totals {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 24px; }
    .inner_page .booking_resume .totals_price {
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 24px;
      letter-spacing: -0.34px; }
    .inner_page .booking_resume .go_to_cart {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "FuturaStd-Book";
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 3.7px;
      background-color: #007eb6;
      border-radius: 40px;
      padding: 10px;
      text-align: center;
      margin-top: 15px; }
  .inner_page .h2, .inner_page h2 {
    color: #ffffff;
    font-family: "Museo-900";
    font-size: 28px;
    margin-top: 31px;
    margin-bottom: -21px; }
    .inner_page .h2 span, .inner_page h2 span {
      display: block;
      color: #ffffff;
      font-family: "Museo-300";
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 1.12px; }
  .inner_page .promozioni {
    padding: 50px 0; }
    .inner_page .promozioni .promozione {
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      padding: 35px;
      height: 672px;
      background-color: #ffffff;
      margin-right: 20px;
      max-width: 30%; }
      .inner_page .promozioni .promozione img {
        position: absolute;
        bottom: -21px;
        right: 0;
        width: 100%;
        border-radius: 0 0 40px 40px; }
      .inner_page .promozioni .promozione .h4, .inner_page .promozioni .promozione h4 {
        text-transform: uppercase;
        color: #003872;
        font-family: "Museo-900";
        font-size: 51px; }
        .inner_page .promozioni .promozione .h4 span, .inner_page .promozioni .promozione h4 span {
          display: block; }
      .inner_page .promozioni .promozione p, .inner_page .promozioni .promozione .p {
        text-transform: uppercase;
        color: #003872;
        font-family: "Museo-900";
        font-size: 22px; }
        .inner_page .promozioni .promozione p span, .inner_page .promozioni .promozione .p span {
          display: block;
          text-transform: uppercase;
          color: #003872;
          font-family: "Museo-300";
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.9px; }
      .inner_page .promozioni .promozione .price, .inner_page .promozioni .promozione .currency {
        color: #003872;
        font-family: "Museo-900";
        font-size: 51px; }
      .inner_page .promozioni .promozione .button_info {
        border: 1px solid #003872;
        text-transform: uppercase;
        color: #003872;
        font-family: "FuturaStd-Book";
        font-size: 9px;
        font-weight: 300;
        display: block;
        width: 107px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 5px 20px; }
    .inner_page .promozioni .quote {
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      padding: 35px;
      height: 1267px;
      background-color: #003872;
      border: 8px solid #ffffff; }
      .inner_page .promozioni .quote img {
        display: block; }
      .inner_page .promozioni .quote .background {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 0 0 31px 31px; }
      .inner_page .promozioni .quote .logo {
        padding-top: 200px; }
      .inner_page .promozioni .quote .h4, .inner_page .promozioni .quote h4 {
        color: #fff;
        font-family: "Museo-900";
        font-size: 44px;
        padding: 20px 0; }
        .inner_page .promozioni .quote .h4 span, .inner_page .promozioni .quote h4 span {
          display: block;
          color: #ffffff;
          font-family: "Museo-300";
          font-size: 22px;
          font-weight: 400; }
      .inner_page .promozioni .quote .price, .inner_page .promozioni .quote .currency {
        color: #003872;
        font-family: "Museo-900";
        font-size: 51px; }
      .inner_page .promozioni .quote .button_info {
        border: 1px solid #003872;
        text-transform: uppercase;
        color: #003872;
        font-family: "FuturaStd-Book";
        font-size: 9px;
        font-weight: 300;
        display: block;
        width: 107px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 5px 20px; }

/*end inner page*/
/*start of the cart*/
.cart {
  padding: 37px 0; }
  .cart .single_room {
    padding-left: 0; }
    .cart .single_room .info .carousel img {
      border-radius: 40px; }
    .cart .single_room .info .modal .modal-header .close {
      padding: 2px 1rem;
      margin: -1rem -1rem -1rem auto; }
    .cart .single_room .info .modal .modal-content {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #ffffffdb;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.76);
      border-radius: 40px;
      outline: 0;
      padding: 20px; }
    .cart .single_room .info .modal .modal-title {
      text-transform: uppercase;
      color: #000000;
      font-family: "FuturaStd-Book";
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3.18px; }
    .cart .single_room .info .modal .modal-body {
      color: #000000;
      font-family: "Museo-500";
      font-size: 16px; }
      .cart .single_room .info .modal .modal-body .details {
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 16px;
        font-weight: bold;
        display: block; }
      .cart .single_room .info .modal .modal-body .offers {
        text-transform: uppercase;
        color: #000000;
        font-family: "FuturaStd-Book";
        font-size: 16px;
        padding: 20px 0;
        display: block; }
      .cart .single_room .info .modal .modal-body p {
        color: #000000;
        font-family: "Museo-500";
        font-size: 16px;
        letter-spacing: -0.14px; }
      .cart .single_room .info .modal .modal-body .icons {
        padding: 20px 0; }
        .cart .single_room .info .modal .modal-body .icons .icon {
          text-align: center; }
          .cart .single_room .info .modal .modal-body .icons .icon img {
            width: auto;
            height: 37px;
            padding-bottom: 7px; }
          .cart .single_room .info .modal .modal-body .icons .icon span {
            text-transform: uppercase;
            color: #000000;
            font-family: "FuturaStd-Book";
            font-size: 8px;
            font-weight: 300;
            display: block; }
    .cart .single_room .info h4, .cart .single_room .info .h4 {
      text-transform: uppercase;
      color: #000000;
      font-family: "Museo-900";
      font-size: 26px;
      padding-bottom: 20px; }
    .cart .single_room .info h2, .cart .single_room .info .h2 {
      text-transform: uppercase;
      color: #007eb6;
      font-family: "Museo-900";
      font-size: 44px; }
      .cart .single_room .info h2 span, .cart .single_room .info .h2 span {
        display: block; }
    .cart .single_room .info .btn {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "FuturaStd-Book";
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 3.7px;
      background-color: #007eb6;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      padding: 10px;
      margin: 20px 0;
      height: 34px;
      line-height: 14px; }
    .cart .single_room .info .price .title {
      text-transform: uppercase;
      color: #007eb6;
      font-family: "Museo-900";
      font-size: 30px; }
    .cart .single_room .info .price .final_price {
      color: #007eb6;
      font-family: "Museo-900";
      font-size: 30px;
      text-align: right; }
    .cart .single_room .info .saving .title {
      text-transform: uppercase;
      color: #007eb6;
      font-family: "Museo-300";
      font-size: 20px;
      font-weight: 400; }
    .cart .single_room .info .saving .final_price {
      color: #007eb6;
      font-family: "Museo-300";
      font-size: 20px;
      font-weight: 400;
      text-align: right; }
    .cart .single_room .info hr {
      border-top: 2px solid #007eb6; }
  .cart .billing .checkin, .cart .billing .checkout {
    color: #000000;
    font-family: "Museo-900";
    font-size: 22px; }
    .cart .billing .checkin .date, .cart .billing .checkout .date {
      color: #000000;
      font-family: "Museo-500";
      font-size: 22px; }
  .cart .billing .room_details .room_name {
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 22px; }
  .cart .billing .room_details .room .typology {
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.22px; }
  .cart .billing .room_details .room .price {
    color: #000000;
    font-family: "Museo-500";
    font-size: 20px;
    font-weight: bold;
    display: block; }
  .cart .billing .room_details .room .deal {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900";
    font-size: 20px;
    display: block; }
  .cart .billing .room_details .room .saving {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.22px;
    display: block;
    padding-top: 20px; }
  .cart .billing .room_details .room .people {
    color: #000000;
    font-family: "Museo-500";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.22px;
    display: block; }
  .cart .billing .extra .extra_name {
    color: #000000;
    font-family: "Museo-900";
    font-size: 22px; }
  .cart .billing .extra .extra .typology {
    color: #000000;
    font-family: "Museo-900";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.3px;
    display: block; }
  .cart .billing .extra .extra .inclusive {
    text-transform: uppercase;
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 15px;
    display: block; }
  .cart .billing .extra .extra .price {
    color: #000000;
    font-family: "Museo-500";
    font-size: 16px;
    display: block; }
  .cart .billing .extra .extra .required {
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 16px;
    display: block; }
  .cart .billing .classy {
    text-transform: uppercase;
    color: #000000;
    font-family: "FuturaStd-Book";
    font-size: 15px;
    font-weight: 300;
    border-radius: 40px;
    padding: 10px;
    border: 2px solid #000000;
    height: 33px;
    text-align: center;
    line-height: 14px; }
  .cart .billing .non_rimborsabile {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900";
    font-size: 22px;
    padding-top: 20px;
    display: block; }
  .cart .complete_holiday .final_booking {
    background-color: #e5215e;
    padding: 5px 21px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    font-size: 33px;
    font-weight: 300;
    letter-spacing: 6.52px;
    text-align: center;
    display: block;
    margin-top: 20px; }
  .cart .complete_holiday .add_rooms {
    border: 1px solid #000000;
    text-transform: uppercase;
    color: #000000;
    font-family: "FuturaStd-Book";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.15px;
    padding: 5px 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin-top: 20px; }
  .cart .complete_holiday .form-check {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-top: 14px;
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-500";
    font-size: 11px;
    font-weight: bold; }
  .cart .complete_holiday hr {
    border-top: 1px solid red; }
  .cart .complete_holiday .total {
    position: relative;
    margin-bottom: 20px; }
    .cart .complete_holiday .total .totals {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.43px; }
    .cart .complete_holiday .total .price {
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.1px;
      text-align: right;
      position: absolute;
      right: 0;
      bottom: 0; }
  .cart .complete_holiday .saving {
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-300";
    font-size: 20px;
    font-weight: 400; }
  .cart .complete_holiday .saving_price {
    color: #e5215e;
    font-family: "Museo-300";
    font-size: 20px;
    font-weight: 400;
    text-align: right; }
  .cart .complete_holiday .box {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 4px solid red;
    padding: 30px; }
    .cart .complete_holiday .box .h2, .cart .complete_holiday .box h2 {
      text-transform: uppercase;
      color: #e5215e;
      font-family: "Museo-900";
      font-size: 36px;
      text-align: center;
      text-shadow: 0px 5px 6px #69602896;
      margin-bottom: 20px; }
    .cart .complete_holiday .box .active img {
      border: 5px solid red !important;
      width: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding: 10px; }
    .cart .complete_holiday .box .active span {
      text-transform: uppercase;
      color: #e5215e !important;
      font-family: "Museo-900";
      font-size: 27px; }
    .cart .complete_holiday .box .icona {
      text-align: center;
      margin-bottom: 20px; }
      .cart .complete_holiday .box .icona img {
        border: 5px solid #c6ccd0;
        width: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        padding: 10px;
        box-shadow: inset 0px 1px 5px 5px #44444454; }
      .cart .complete_holiday .box .icona span {
        display: block;
        text-transform: uppercase;
        color: #000;
        font-family: "Museo-900";
        font-size: 27px; }

/*end of the cart*/
/*footer*/
footer {
  background: url("../img/footerbso.jpg");
  background-size: cover;
  padding: 13px 0; }
  footer p {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2.6px; }

/*Second layout*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .top_header .edit_booking {
    font-family: "Museo-900", serif;
    font-size: 11px;
    text-transform: uppercase; }

  .top_header .menu {
    display: none; }

  .inner_page .promozioni .promozione {
    max-width: 100%;
    margin-bottom: 50px; }

  .main_header .icons_booking {
    position: relative;
    height: 200px; }

  .main_header .icons_booking .single_icon img {
    width: 28px;
    height: auto; }

  .main_header .icons_booking .single_icon {
    display: inline;
    background: #ffffff85;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    width: 100%;
    border: 3px solid #dadadabd;
    padding: 8px 10px;
    margin: 0 auto;
    text-align: center;
    margin-right: 8px; }

  .walker_menu {
    height: 66px;
    padding: 0;
    text-align: center; }

  .walker_menu .menu {
    padding: 0;
    display: none; }

  .main_header .logo_description .description {
    position: absolute;
    bottom: 21px;
    left: 0;
    padding-left: 15px; }

  .main_header .icons_booking {
    position: relative;
    height: 76px;
    margin: 0 auto;
    text-align: center; }

  .walker_menu h2 {
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 31px;
    padding-top: 13px; }

  .walker_menu .interessi {
    display: none; }

  .booking_form .aziende form {
    background: #a7a7a7;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding-top: 10px;
    padding: 20px !important; }

  .booking_form .aziende form .form-check-label {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    font-size: 13px;
    font-weight: 300; }

  /*End of style*/ }
/*mixins helper*/
a {
  color: #000000;
  text-decoration: none;
  background-color: transparent; }

.btn-gray {
  background-color: #8c99a1;
  border: 1px solid  #8c99a1 !important;
  color: #ffffff !important; }

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none; }

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none; }

.delete {
  position: absolute;
  left: 0;
  color: red; }

.arrowSeperator {
  display: block;
  text-align: center;
  border: 1px solid #ddd;
  height: 0;
  position: relative;
  margin: 0 -15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.arrowSeperator:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ddd;
  position: absolute;
  bottom: 100%;
  left: 50%;
  right: 50%;
  margin: 0 -15px;
  z-index: 1; }

.arrowSeperator:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  bottom: 100%;
  left: 50%;
  right: 50%;
  margin: 0 -15px -2px -15px;
  z-index: 2; }

/*# sourceMappingURL=app.css.map */
