.edit_booking span
{
    font-family:  "Museo-900";
}
.main_header .logo_description h1 {
    color: #ffffff;
    font-family: "Museo-900", serif;
    font-size: 33px;
}
.main_header .logo_description p {
    color: #ffffff;
    font-family: "Museo-500", serif;
    font-size: 23px;
    letter-spacing: -0.14px;
}
.main_header .logo_description .btn-info {
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #ffff;
    border-radius: 50px;
    padding: 7px 40px;
    font-family: "FuturaStd-Book", serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.8px;
}
.main_header .icons_booking .single_icon {
    display: inline;
    background: #ffffff85;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 120px;
    width: 100%;
    border: 5px solid #dadadabd;
    padding: 16px 12px;
    margin: 0 auto;
    text-align: center;
    margin-left: 20px;
    width: 120px;
    margin-right: 20px;
}

.main_header .icons_booking .single_icon img {
    width: 65px;
    height: auto;
    margin-top: 10px;
}

.walker_menu h2 {
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 49px;
    padding-top: 20px;
    letter-spacing: 2.2px;
}

.walker_menu .pin_map {
    font-size: 40px;
    color: white;
    width: 60px;
    height: 55px;
    background-color: #007eb6;
    border-radius: 50%;
    padding: 6px 11px;
    margin-top: 12px;
}
.walker_menu p {
    text-transform: uppercase;
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding-top: 5px;
}
.top_header {
    min-height: 65px;
    padding: 0px;
    line-height: 65px;
}
.main_header {
    min-height: 520px;
    
}
.top_header .edit_booking {
    font-family: "Museo-900", serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 80px;
}
.top_header .menu {
    text-transform: uppercase;
    color: #000000;
    font-family: "Museo-900", serif;
    font-size: 16px;
}
.main_header .logo_description {
    position: relative;
    min-height: 520px;
}
.main_header .icons_booking {
    position: relative;
    height: 520px;
    margin-left: 65px;
}
.walker_menu {
    margin-bottom: 20px;
}
.walker_menu ul li span {
    color: #007eb6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.79px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.selected{
    font-family: "FuturaStd-ExtraBold"!important;
}

.walker_menu ul li .btn-menu {
    background-color: #007eb6;
    
    font-family: "FuturaStd-Book";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2.79px;
    text-transform: uppercase;
    width: 300px;
    padding: 5px 48px;
    border-radius: 24px;
}
.walker_menu h2 {
    color: #007eb6;
    font-family: "Museo-900";
    font-size: 49px;
    padding-top: 0px;
    letter-spacing: 2.2px;
    line-height: 120px;
}
.booking_form .consumer {
    background: #2e3842ba;
    color: #fff;
    border-radius: 46px;
    border: 3px solid #6d6c6c;
    margin-top: 40px;
    text-align: center;
    margin-left: 0px;
}
.booking_form .consumer .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #c1bfbf;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.7rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000000;
    font-family: "Museo-500";
    font-size: 20px;
}
.booking_form .consumer label {
    color: #dedede;
    font-family: "Museo-900";
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    float: left;
}
.width80{
    width:100px!important;

}
.pos_rel{
    position: relative;
}
.pos_abs{
    position: absolute;
}
.search_pos{
    right:-120px;
}
.booking_form .aziende form {
    background: rgba(192,188,192,0.3);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding-top: 10px;
    margin-top:25px;
}
.booking_form .aziende form .form-check-label {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaStd-Book";
    font-size: 20px;
    font-weight: 300;
}
.top_header .menu ul {
    display: contents;
}
.navbar-light .navbar-nav .nav-link {
    color:#222;
}
.navbar {
    
    padding: 0px;
}
.inner_page .rooms .room {
    background-color: #ffffff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: auto;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.inner_page .promozioni .promozione img {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    border-radius: 0 0 35px 35px;
    
}
.inner_page .promozioni .promozione {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 35px;
    height: 700px;
    background-color: #ffffff;
    margin-right: 20px;
    max-width: 30%;
    border: 5px solid #007eb6;
    float: left;
    width: 330px;
}

/* ----------------------new---------------------- */
.inner_page .rechiedi {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 20px;
    background-color: #ffffff;
    border: 5px solid #007eb6;
    background: url(../img/sea.png) no-repeat;
    background-size: cover;
}
.inner_page .rechiedi .rechiedin h4{
    text-transform: uppercase;
    color: #003872;
    font-family: "Museo-900";
    font-size: 51px;
}
.inner_page .rechiedi .rechiedin p {
    text-transform: uppercase;
    color: #003872;
    font-family: "Museo-900";
    font-size: 22px;
}
.inner_page .rechiedi .rechiedin p.small_font {
    text-transform: uppercase;
    color: #003872;
    font-family: "Museo-900";
    font-size: 16px;
}
.inner_page .rechiedi .rechiedin .small_fontS {
    text-transform: none;
    color: #003872;
    font-family: "Museo-900";
    font-size: 14px;
}
.inner_page .rechiedi .rechiedin p.small_fontR 
{
    text-transform: uppercase;
    color: #e5215e;
    font-family: "Museo-900";
    font-size: 14px;
}
.inner_page .rechiedi .rechiedin span {
    display: block;
    text-transform: uppercase;
    color: #003872;
    font-family: "Museo-300";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
}
.inner_page .rechiedi .rechiedin h4 span {
    text-transform: uppercase;
    color: #003872;
    font-family: "Museo-900";
    font-size: 51px;
}
.inner_page .rechiedi .rechiedin h4 span {
    display: block;
}
.arrow_img{
    width:50px;
}
/* ----------------table------------------ */
.date_dis{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: white;
    overflow: hidden;
   
    
    font-family: "FuturaStd-Book";
    
   
}
.date_dis thead tr{
    background-color: #003872;
    text-transform: uppercase;
    height: 35px;
}
.date_dis tbody tr{
    background-color: #0080d2;
    height: 35px;
}
.cur_selected{
    background-color: white;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    display: inline-block!important;
    padding: 1px 5px;
}
.noborder {
    border: none;
    outline: none;
}
.btn-menu {
    background-color: #007eb6;
    font-family: "FuturaStd-Book";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2.79px;
    text-transform: uppercase;
    width: 300px;
    padding: 5px 48px;
    border-radius: 24px;
    /* background-color: transparent !important; */
    color: #007eb6;
    border: 1px solid #007eb6;
    outline: none;
}
.contact_page4{
    background-color: white;
    border-radius: 20px;
    font-family: "FuturaStd-Book";
    letter-spacing: 1.5px;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:10px;
    border:1px solid #dedede;
}
.contact_page4 label{
    margin-top:10px;
}
.input-control{
    width: 100%;
    height:35px;
    border:1px solid #007eb6;
    border-radius: 17px;
}
.text-control
{
  
    width: 100%;
    height:70px;
    border:1px solid #007eb6;
    border-radius: 17px;
    padding:20px;
}
.page4_btn-blue {
    background-color: #007eb6 !important;
    border: 2px solid #007eb6 !important;
    color:white;
    border-radius: 18px;
    margin-top: 5px;
}
.btn-menu_page4 {
    background-color: #007eb6;
    font-family: "FuturaStd-Book";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2.79px;
    text-transform: uppercase;
    width: 300px;
    padding: 5px 48px;
    border-radius: 24px;
    background-color: transparent !important;
    color: #007eb6;
    border: 1px solid #007eb6;
    outline: none;
}
/* ----------------------------------------- */
/* #ui-datepicker-div{
    background-color: #3f8362;
}
#ui-datepicker-div .ui-datepicker-header{
    background-color: #007eb6;
    border:1px solid #003872;
    color:white;
} */
.inner_page .promozioni {
    padding: 50px 0;
    
    margin-left: 50px;
}
@media(max-width:1875px)
{
    .walker_menu h2 {
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 35px;
        padding-top: 0px;
        letter-spacing: 2.2px;
        line-height: 120px;
    }
    .walker_menu ul li .btn-menu {
        background-color: #007eb6;
        font-family: "FuturaStd-Book";
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 2.79px;
        text-transform: uppercase;
        width: 300px;
        padding: 6px 35px;
        border-radius: 24px;
    }
}
@media(max-width:1700px)
{
    .walker_menu h2 {
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 30px;
        padding-top: 0px;
        letter-spacing: 2.2px;
        line-height: 120px;
    }
    .walker_menu ul li .btn-menu {
        background-color: #007eb6;
        font-family: "FuturaStd-Book";
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 2.79px;
        text-transform: uppercase;
        width: 300px;
        padding: 6px 26px;
        border-radius: 24px;
    }
}
@media(max-width:1600px)
{
    .walker_menu ul li .btn-menu {
        background-color: #007eb6;
        font-family: "FuturaStd-Book";
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 1.79px;
        text-transform: uppercase;
        width: 300px;
        padding: 6px 26px;
        border-radius: 24px;
    }
}

@media(max-width:1500px)
{
    .walker_menu h2 {
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 30px;
        padding-top: 0px;
        letter-spacing: 2.2px;
        line-height: 120px;
    }
    .walker_menu ul li .btn-menu {
        background-color: #007eb6;
        font-family: "FuturaStd-Book";
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 2.79px;
        text-transform: uppercase;
        width: 300px;
        padding: 6px 10px;
        border-radius: 24px;
    }
    .walker_menu p {
        text-transform: uppercase;
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        padding-top: 5px;
    }
    .walker_menu {
        height: 100%;
        padding: 0;
    }
}
@media(max-width:1400px)
{
    .main_header .icons_booking .single_icon {
        display: inline;
        background: #ffffff85;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid #dadadabd;
        padding: 16px 12px;
        margin: 0 auto;
        text-align: center;
        margin-left: 10px;
        width: 120px;
        margin-right: 10px;
    }
}
@media(max-width:1300px)
{
    .walker_menu h2 {
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 30px;
        padding-top: 0px;
        letter-spacing: 2.2px;
        line-height: 50px;
    }
    .walker_menu ul li .btn-menu {
        background-color: #007eb6;
        font-family: "FuturaStd-Book";
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 2.79px;
        text-transform: uppercase;
        width: 300px;
        padding: 6px 4px;
        border-radius: 24px;
    }
    .walker_menu ul li{
        display: block!important;
    }
}
@media(max-width:1200px)
{
    .logo_img{
        width:150px;
    }
    .top_header .edit_booking {
        font-family: "Museo-900", serif;
        font-size: 16px;
        text-transform: uppercase;
    }
    .top_header {
        min-height: 30px;
        padding: 0px;
        line-height: 30px;
    }
    .main_header .logo_description h1 {
        color: #ffffff;
        font-family: "Museo-900", serif;
        font-size: 25px;
    }
    .main_header .logo_description p {
        color: #ffffff;
        font-family: "Museo-500", serif;
        font-size: 18px;
        letter-spacing: -0.14px;
    }
    .main_header .icons_booking {
        position: relative;
        height: 400px;
    }
    .main_header .logo_description {
        position: relative;
        min-height: 400px;
    }
    .booking_form .aziende form .form-check-label {
        text-transform: uppercase;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 14px;
        font-weight: 300;
    }
    .pos_abs{
        position: static;
    }
    .pos_rel{
        position: static;
    }
    .inner_page .promozioni .promozione {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 35px;
        height: 672px;
        background-color: #ffffff;
        margin-right: 20px;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .walker_menu ul li .btn-menu {
        background-color: #007eb6;
        font-family: "FuturaStd-Book";
        font-size: 6px;
        font-weight: 300;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        width: 300px;
        padding: 6px 2px;
        border-radius: 24px;
    }
    .walker_menu ul li span {
        color: #007eb6;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2.79px;
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0px;
    }
    .mobile_pos_page4{
        margin-top:20px;
        text-align: center!important;
        margin-left:-20px;
    }
    .main_header .icons_booking .single_icon {
        display: inline;
        background: #ffffff85;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid #dadadabd;
        padding: 16px 12px;
        margin: 0 auto;
        text-align: center;
        margin-left: 2px;
        width: 120px;
        margin-right: 2px;
    }
}
@media(max-width:1050px)
{
    .main_header .icons_booking .single_icon {
        display: inline;
        background: #ffffff85;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid #dadadabd;
        padding: 0px 5px;
        margin: 0 auto;
        text-align: center;
        margin-left: 2px;
        width: 90px;
        margin-right: 2px;
        height: 90px;
    }
    .controls-top{
        display: none;
    }
}

@media(max-width:990px)
{
    .main_header .icons_booking {
        position: relative;
        height: 130px;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        border: none;
    }
    .top_header .edit_booking {
        font-family: "Museo-900", serif;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 40px;
    }
}
@media(max-width:800px)
{
    .width80{
        width:100%!important;
    }
    .inner_page .promozioni .promozione {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding: 35px;
        height: 672px;
        background-color: #ffffff;
        /* margin-right: 10px;
        margin-left: 10px; */
        max-width: 100%;
        margin-bottom: 50px;
    }
    .mobile_ml25{
        margin-left:25px;
    }
    .walker_menu ul {
        display: flex;
        padding-top: 24px;
        padding-left: 40px;
    }
    .inner_page .rooms .room .infos h2, .inner_page .rooms .room .infos .h2 {
        text-transform: uppercase;
        color: #000000;
        font-family: "Museo-900";
        font-size: 18px;
        margin-top:20px;
        text-align: center;
    }
    .inner_page .rooms .room .infos .last_deal {
        text-transform: uppercase;
        color: #e5215e;
        font-family: "Museo-900";
        font-size: 18px;
        margin: auto;
    }
    .inner_page .rooms .room .infos .btn {
        background-color: #007eb6;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 3.62px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        position:relative;
        bottom: 0;
        display: block;
        margin:10px auto;
    }
    .inner_page .rooms .room .infos {
        position: relative;
        height: 160px;
        text-align: center;
    }
    .inner_page .rooms .room .start_price h3, .inner_page .rooms .room .start_price .h3 {
        text-transform: uppercase;
        color: #007eb6;
        font-family: "Museo-900";
        font-size: 23px;
        text-align: center;
        margin-top: 36px;
    }
    .inner_page .rooms .room .start_price {
        position: relative;
        height: 160px;
    }
    .inner_page .rooms .room .start_price .btn {
        background-color: #003872;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "FuturaStd-Book";
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 3.62px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        position: relative;
        bottom: 0;
        display: block;
        width: 50%;
        margin:9px auto;
    }
    .inner_page .booking_resume {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        border: 4px solid #007eb6;
        padding: 15px;
        background: #e6e7e9;
        margin-left: 0px;
        min-width: 341px;
        margin-top: 35px;
        margin-bottom: 35px;
        height: 100%;
    }
    .main_header .icons_booking .single_icon img {
        width: 50px;
        height: auto;
        margin-top: 17px;
    }
    .inner_page .promozioni {
        padding: 50px 0;
        
        margin-left: 20px;
    }
    
    
    
}
@media(max-width:550px)
{
    
    .main_header .icons_booking .single_icon {
        display: inline;
        background: #ffffff85;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid #dadadabd;
        padding: 0px 5px;
        margin: 0 auto;
        text-align: center;
        margin-left: 2px;
        width: 80px;
        margin-right: 2px;
        height: 80px;
    }
    .main_header .icons_booking .single_icon img {
        width: 40px;
        height: auto;
        margin-top: 14px;
    }
    .walker_menu ul li {
        display: inline;
        padding: 0 4px;
    }
    
}
