.inner .row{
    margin-top:10px;
}

.voucher h5 span{
    color: #e5215e;
}

.voucher .required, .voucher .total_12{
    color: #e5215e;
    display: inline;
}
.bold_text12{
    font-weight: 800;
}

.thin_text12{
    font-family: "Museo-500" !important;
}

.ul_12 li{
    list-style-type: disc;
    margin-left: 22px;
}

.blue{
    color: #007eb6 !important;
}

.para_12{
    margin-top:180px !important;
}

.btn-menu{
    /* padding-left: 40px !important;
    padding-right: 40px !important; */
}

.inner_page .booking_resume{
    background: white;
}
hr{
    border:2px solid black;   
}
.inner_page .desideri_altro{
    margin-left: 40px;
    background: #ffffff37;
    margin-bottom: 50px;
}
.mezza{
    font-style: italic;
    display: block;
    font-size: 20px;
}
.inner_page .booking_resume .resume .room .saving{
    padding-top: 0;
}
.numero_hr{
    border:1px solid#007eb6 !important; 
    color:#007eb6 !important;
}

.typology{
    /* text-transform: uppercase; */
    font-family: "Museo-900" !important;
}

.people{
    text-transform: uppercase;
}

.cart{
    padding: 37px 20px;
}
.suit_08{
    border-radius: 50%;
    
    height:92px;
    border:5px solid #007eb6 !important;
    width: 92px;
    padding: 16px 12px;
    display: -webkit-inline-box;
    float: right;
}
.suit_08 img{
    width: 57px;
    height: auto;
}

.carousel-indicators li{
    width:10px;
    height: 10px;
    border-radius: 50%;
    border-top:0;
    border-bottom: 0;
}
.cart .billing .room_details .room .saving{
    padding-top: 0;
}

.down_08{
    display: -webkit-box;
    padding-left: 48%;
}

.cart .complete_holiday .box .icona{
    flex-basis: inherit;
}
.inner_page .other_services .single_service form .day{
    text-align: left;
    margin-left: 22px;
    font-size: 16px;
}

.inner_page .other_services .single_service .col-md-6{

    margin-top:30px;

}
.inner_page .other_services .single_service .col-md-6 .row .col-md-4 img{
    width: 100%;;
}
.inner_page .booking_resume .arrowSeperator{
    margin-top:0;
}

.card-body{
    background: white;
    border-radius: 40px;
  
}
.collapse{
    margin-top: 10px;
}

.collapse_icon{
    float: right;
    margin-right: 30px;
    font-size: 25px;
}
.alert_mark{
    display: -webkit-inline-box;
}
.alert_textarea{
    display: inline-block;
    text-align: center;
    color: #e5215e;
    margin-left: 20%;
    font-family: "Museo-900";
}
.alert_area{
    border:5px solid #e5215e;
    border-radius: 40px;
    margin-bottom: 10px;
    margin-left: -2px;
}

.scr_spy{
    height: 180px;
    overflow: hidden;
    overflow-y: auto;
}

.alert_icon{
    color: #e5215e;
    font-size: 90px;
}

.alert_btn{
    background-color: #e5215e;
    color: white;
    margin-left: 0%;
    margin-top: 5px;
    font-family: "Museo-900";
    border-radius: 40px;   
    margin-bottom: 1%;
    text-align: center;
    width: 100%;
}
.alert_btn:hover{
    color: white;
}

.alert_textarea p{
    font-size: 20px;
    margin: 0;
}

.inner_page .booking_confirmation .email_send2{
    margin-top: 20px;    
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: #007eb6;
    text-align: center;
    padding: 30px;
    padding-bottom:0;
    /* border-radius: 40px; */
    margin-bottom: 30px;
}

.text_10{
    font-family: "Museo-900";
    color: white;
    font-size: 20px;    
}

.text_11{
    font-family: "Museo-900";
    color: white;
    font-size: 35px; 
    text-align: center;
    text-transform: uppercase;
}

.social_10{
    text-align: center;
    padding-left: 23%;
   
}

.social_icon10_face{
    font-size: 50px;
    padding-left: 25px;
    padding-right: 30px;
    color: white;
    background-image: radial-gradient(#3442c4, #2100b6);
    border: 9px solid white;
    border-radius: 50%;  
}

.social_icon10_link{
    margin-left: 20%;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-image: radial-gradient(#4071ca, #026ad6);
    border: 9px solid white;
    border-radius: 50%;  
}

.social_icon10_goo{    
    margin-left: 15%;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-image: radial-gradient(#ca40ac, #d60246);
    border: 9px solid white;
    border-radius: 50%;
}
.input_form{
    padding: 20px;
    text-align: left;
    font-size: 18px;
    color:white;    
}

.input_form input[type="text"]{
    border-radius: 10px;
    opacity: 0.7;
}
.downarrow{
    display: block;
    text-align: center;
    /* border: 1px solid #ddd; */
    height: 0;
    position: relative;
    margin: 0 -15px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.downarrow::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 15px solid #007eb6;
    position: absolute;
    bottom: 100%;
    left: 48%;
    right: 50%;
    margin: 0 -15px;
    z-index: 1;
}

.downarrow::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 15px solid #007eb6;
    position: absolute;
    bottom: 100%;
    left: 48%;
    right: 50%;
    margin: 0 -15px -2px -15px;
    z-index: 2;
}

.email_send1{
    background-color: #007fb65b;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-top: -30px;
    padding-left: 60px;
}

.email_send1_text1{
    font-family: "Museo-500" !important;
    color: white !important;
    font-size: 30px !important;
}

.check_area{
    font-family: "Museo-500" !important;
    color: white !important;
    font-size: 20px !important;

}

.check_area input[type="checkbox"]{
    background: none;
}

.email_send3{
    background-color: #007eb6;
    /* text-align: center; */
    padding: 30px;
    border-radius: 40px;
    margin-bottom: 30px;
    height: 400px;
    /* margin-top: 973px; */
    width: 60%;
    margin-left: 3%;
    margin-top: 16%;
    border: 5px solid white;

}

.modal10_content{
    background: none;
    border: none;
}

.moda10_title{
    text-align: left !important;
    color:white;
    font-family: "Museo-500" !important;
    font-size: 25px;
}

.modal10_text{
    font-size: 10px !important;
    text-align: left !important;
}

.modal10_icon img{
    width:15%;
}

.email_send3 input, .email_send3 select{
    opacity: 0.7;
    border-radius: 10px;
}
.email_send3 .form-group{
    color:white;
    text-align: center;
}
#sel2{
    display: inline;
    width:48%;
}

.captcha img{
    width: 100%;
    border-radius: 40px;
    border: 5px solid #007eb6;
}
.top_15{
    margin-top: 2%;
    border-radius: 50px;
    border:5px solid #007eb6;
    margin-left: 1%;
    width: 98%;
    font-size: 20px;
}
.agileits-w3layouts-map h4 {
    margin: 0 0 1em 0;
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.agileits-w3layouts-map {
    margin: 4em 0 0 0;
}

.top_15 iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.agileits-w3layouts-map {
    margin: 2em 0 0 0;
}

.top10_title{
    font-family: "Museo-900" !important;
    color:  #007eb6 !important;
    font-size: 30px !important;
    display:-webkit-box;

}

.top_15 label{
    font-family: "Museo-500" !important;
}
.top_15 input[type="checkbox"]{
    margin-top: 15px;
    width: 25px;
    height: 25px;

}
.top_15 .form-check{
    margin-top: 5%;
}

.top_15 input[type="radio"]{
    width: 23px;
    height: 23px;
    margin-top: 3%;
}
.top10_img{
    width:25%;
    margin-left: 5%;
}

.top10_text{
    text-align: center;
    color:#007eb6;
    margin-top: 30px;
    display:block;
    font-weight: 600;
}

.top_15 input[type="text"], .top_15 select{
    text-align: center;
    border-radius: 20px;
    border:2px solid;
}
.top_15 select{
    margin-bottom: 10px;
}

.top_15 .btn{
    width:80%;
    margin-left: 10%;
    background-color: #007eb6;
    color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}


.right{
    overflow-y: scroll;
    display: block;
    width: 100%;
    padding: 20px;
    height: 780px;
    margin-top: 15px;
}
.right1{
   margin-bottom: 20px;
    display: block;
    width: 100%;
}
.top15_text1, .top15_text2, .top15_text3{
    margin-bottom: 0;
}

.top15_text1{
    font-family: "Museo-900";
    color: #ca40ac;
}

.top15_text11{
    font-family: "Museo-900";
    color: #b38e21;
}

.top15_text12{
    font-family: "Museo-900";
    color: #3b9c0e;
}

.top15_text13{
    font-family: "Museo-900";
    color: #007eb6;
}

#calender{
    text-align: center;
}

.modal_calender_title{
    font-family: "Museo-900";
    color: #ca40ac;
    font-size: 24px;
    line-height: 25px;
    border-radius: 5px;
    display: inline-block!important;
    padding: 1px 5px;
}

.calender_active1{
    background: #d60246;
    line-height: 29px;
    border-radius: 5px;
    display: inline-block!important;
    padding: 2px 7px;

}

.calender_active{
    background: #3b9c0e;
    line-height: 29px;
    border-radius: 5px;
    display: inline-block!important;
    padding: 2px 7px;
}

.modal_search{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#calender tbody tr{
    background: none;
}
.logo13{
    background: white;
    border: 3px solid #007eb6;
    border-radius: 30px;
    width: 57%;
    padding: 13px;
    margin-top: 20px;
    color: black !important;
}

.logo13_title{
    font-family: "Museo-900" !important;
    color: #ca40ac !important;
}
.logo13_t1{
    font-family: "Museo-900" !important;    
}

.logo13_t2{
    margin-left: 5%;
    background: #d4d6dc;
    padding-left: 5px;
    padding-right: 5px;
}
.logo13_t4{
    background: #d4d6dc;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 7%;
}

.logo13_btn{
    background: #007eb6;
    color: white;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
}

.iframe_new{
    position: relative;
    z-index: 1000;
    width: 90%;
    margin-left: 5%;
    margin-top: -110%;

}

.iframe13{
    width: 100%;
    height: 2100px;
    border: 5px solid #007eb6;
    border-radius: 40px;
}
@media(max-width:1700px){
    /* .iframe_new{
        position: relative;
        z-index: 1000;
        margin-left: -180%;
    } */
    .logo13{
        width:64%;
    }
}
@media(max-width:1550px){
    .iframe_new {
        position: relative;
        z-index: 1000;
        width: 90%;
        margin-left: 5%;
        margin-top: -149%;
    }
    .alert_textarea{
        margin-left: 0;
    }
    .logo13{
        width:80%;
    }

}

@media(max-width:1279px){
    .logo13{
        width:90%;
        margin-bottom: 20px;
    }
    .alert_textarea{
        margin-left: 0;
    }
    .alert_icon {
        color: #e5215e;
        font-size: 60px;
    }
    .inner_page .booking_resume{
        margin-left: 3px;
    }
}
@media(max-width:1150px){
    .iframe_new {
        position: relative;
        z-index: 1000;
        width: 90%;
        margin-left: 5%;
        margin-top: -188%;
    }
    .logo13{
        width:100%;
        margin-bottom: 20px;
    }
    .alert_textarea{
        margin-left: 0;
    }
    .social_10{
        text-align: center;
        padding-left: 5%;       
    }
    .social_icon10_goo, .social_icon10_link{
        margin-left: 10%;
    }
    
    
    .alert_textarea p{
        font-size: 16px;
    }
}
@media(max-width:1125px){

    .logo13{
        width:100%;
        margin-bottom: 20px;
    }
    .main_header .logo_description .description{
        position: relative;
    }
}

@media(max-width:1017px){
    .iframe_new {
        position: relative;
        z-index: 1000;
        width: 90%;
        margin-left: 5%;
        margin-top: -350%;
    }
    .alert_textarea{
        margin-left: 0;
    }  
    .alert_icon{
        font-size: 50px;
    }
    .alert_textarea p{
        font-size: 14px;
    }
    .alert_btn{
        font-size: 14px;
    }
}
@media(max-width:904px){
    .iframe_new {
        position: relative;
        z-index: 1000;
        width: 90%;
        margin-left: 5%;
        margin-top: -370%;
    }
    .alert_textarea{
        margin-left: 0;
    }   
    .alert_icon{
        font-size: 35px;
    }
    .alert_textarea p{
        font-size: 12px;
    }
    .alert_btn{
        font-size: 12px;
    }
    .alert_area{
        padding-top: 20px;
    }
}
@media(max-width:768px){
    .iframe_new {
        position: relative;
        z-index: 1000;
        width: 90%;
        margin-left: 5%;
        margin-top: -650%;
    }

    .main_header .icons_booking{
        height: 100px;
    }
    .walker_menu{
        height:240px;
    }

    .walker_menu ul{
        padding: 0;        
    }
    .btn-menu{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .voucher .btn-blue
    {
        margin-bottom: 20px;
    }
    .logo_description img{
        width:40% !important;
    }
    .inner_page .desideri_altro, .inner_page .booking_resume {
        margin-left: 10px;
    }
   
    .inner_page .other_services .single_service .col-md-6 .row .col-md-4 h4, 
    .inner_page .other_services .single_service .col-md-6 .row .col-md-4 p,
    .inner_page .other_services .single_service .col-md-6 .row .col-md-4 a{
        margin-left: 35%;
        margin-top: 10px;
    } 
    .inner_page .other_services .single_service .col-md-6 .row .col-md-4 form{
        margin-left: 30%;
    }
    .inner_page .desideri_altro{
        margin-left: 10px;
    }
    .alert_textarea{
        margin-left: 20%;
    }   
    .alert_icon{
        margin-left: 50%;
        font-size: 90px;
    }
    .alert_textarea p{
        font-size: 20px;
    }
    .alert_btn{
        font-size: 20px;
    }
    .alert_area{
        padding-top: 0px;
    }
    
    .social_10{
        padding: 0;
    }
    .social_icon10_goo, .social_icon10_link{
        margin-left: 15%;
    }
    .email_send3 {
        background-color: #007eb6;
        /* text-align: center; */
        padding: 30px;
        border-radius: 40px;
        margin-bottom: 30px;
        height: 55%;
        /* margin-top: 973px; */
        width: 95%; 
        margin-left: 3%;
        margin-top: 16%;
        border: 5px solid white;
        font-size: 15px;
    }
    #sel2 {
        display: inline;
        width: 46%;
    }
    .modal10_icon img {
        width: 65%;
        margin-top: 20%;
    }

    .text_10{
        font-size: 15px;
    }
}
@media(max-width:580px){
    .iframe_new {
        position: relative;
        z-index: 1000;
        width: 90%;
        margin-left: 5%;
        margin-top: -750%;
    }
    .logo13{
        width:100%;
        margin-bottom: 20px;
        padding: 7px;
    }

    .logo13_t4{
        margin: 0;
    }
    .logo13_btn{
        padding-left: 3%;
        padding-right:3%;
        margin-left: 2%;
    }
    .social_10{
        text-align: center;
        padding-left: 5%;       
    }
    .social_icon10_goo, .social_icon10_link{
        margin-left: 5%;
    }
    .alert_textarea{
        margin-left: 0px;
    }   
    .alert_icon{
        margin-left: 0;
        font-size: 90px;
    }
    .alert_textarea p{
        font-size: 20px;
    }
    .alert_btn{
        font-size: 20px;
    }
    .alert_area{
        padding-top: 0px;
    }
}

@media(max-width:460px){
    .iframe_new {
        position: relative;
        z-index: 1000;
        width: 90%;
        margin-left: 5%;
        margin-top: -950%;
    }
    .inner_page .booking_confirmation h2{
        font-size: 45px;
    }
    .inner_page .booking_confirmation .email_send p{
        font-size: 22px;
    }
    .email_send3 {
        background-color: #007eb6;
        /* text-align: center; */
        padding: 30px;
        border-radius: 40px;
        margin-bottom: 30px;
        height: 70%;
        /* margin-top: 973px; */
        width: 95%; 
        margin-left: 3%;
        margin-top: 16%;
        border: 5px solid white;
        font-size: 15px;
    }
    #sel2 {
        display: inline;
        width: 46%;
    }
    .modal10_icon img {
        width: 100%;
        margin-top: 100%;
    }

    .text_10{
        font-size: 15px;
    }
    .social_10{
        text-align: center;
        padding-left: 0%;       
    }
    .social_icon10_goo, .social_icon10_link{
        margin-left: 5%;
    }
}

